.pokemon-card {
    flex: 0.5 1 0%;
    min-width: 20%;
    margin: 60px 0px 0px;
    position: relative;
    cursor: pointer;
    border: 2px solid white;
    transition-duration: 100ms;
    text-align: center;
    background-color: rgb(252, 252, 252);
    border-radius: 20px;
    box-shadow: rgb(237, 237, 237) 0px 10px 10px;
    padding: 15px 0;

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        img {
            position: absolute;
            top: -55px;
            image-rendering: pixelated;
            transition-duration: 100ms;
        }
    }

    &__types {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__type {
        border-radius: 5px;
        padding: 3px 7px;
        color: black;
        margin: 5px;
        margin-top: 10px;
        font-weight: 600;
        font-size: 14px;
        opacity: 0.8;
        text-transform: capitalize; 
    }

    &__id {
        color: rgb(143, 147, 150);

        span {
            font-size: 17px;
            font-weight: bold;
        }
    }

    &__name {
        color: rgb(1, 16, 48);
        margin: 5px;
        font-weight: bold;
        text-transform: capitalize;
        h3 {
            margin: 0;
            font-size: 24px;
            font-family: 700;
        }
    }

    &:hover {
        border: 2px solid #E0E0E0;
    }

    &:hover &__image img {
        transform: scale(1.2);
    }
}